In [3]:
import numpy as np

In [ ]:
In troduction to nditer

In [5]:
x = np.arange(12).reshape(3,4)

x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [7]:
for i in np.nditer(x):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [9]:
for i in np.nditer(x,order ='F'):
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11

In [ ]:
Introduction to splitting arrays

In [10]:
x = np.arange(9)

x

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
req: split the array into three equal parts

In [12]:
print('split the array in to 3 equal parts:')

np.split(x,3)

split the array in to 3 equal parts:

[array([0, 1, 2]), array([3, 4, 5]), array([6, 7, 8])]

In [13]:
np.split(x,4)

ValueError: array split does not result in an equal division

In [16]:
y = np.array([['germany','france','india','russia'],
         ['berlin','paris','new delhi','moscow']])

In [17]:
y

array([['germany', 'france', 'india', 'russia'],
       ['berlin', 'paris', 'new delhi', 'moscow']], dtype='<U9')

In [ ]:
req: Horizontal splitting

In [24]:
P1 P2 = np.hsplit(y,2)

In [25]:
print(P1)

[['germany' 'france']
 ['berlin' 'paris']]

In [27]:
print(P2)

[['india' 'russia']
 ['new delhi' 'moscow']]

In [ ]:
Vertical splitting

In [31]:
P3,P4 = np.vsplit(y,2)

In [33]:
print(P3)

[['germany' 'france' 'india' 'russia']]

In [34]:
print(P4)

[['berlin' 'paris' 'new delhi' 'moscow']]