In [1]:
students = ['raj','babu','manu','vasan']

print(students)

['raj', 'babu', 'manu', 'vasan']

In [2]:
students.append('shahul')

print(students)

['raj', 'babu', 'manu', 'vasan', 'shahul']

In [3]:
students.insert(2,'ram')

print(students)

['raj', 'babu', 'ram', 'manu', 'vasan', 'shahul']

In [4]:
x = students[2]

print(x)

ram

In [5]:
type(students)

list

In [9]:
del students[1]

print(students)

['raj', 'ram', 'manu', 'vasan', 'shahul']

In [20]:
y = students.pop(1)

print(students)

['raj', 'manu', 'vasan', 'shahul']

In [21]:
y

'ram'