In [ ]:
Introduction to dataframes in pandas

In [ ]:
Definition(df) - A dataframe is two dimensional data structure, it will be having a tabular structure

In [ ]:
General syntax:
    pandas.Dataframes(data,index,columns,dtype,copy)

In [1]:
import numpy as np
import pandas as pd

In [ ]:
creating an empty dataframe

In [12]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
data = [['naresh',10],['vijay',23],['rahul',22],['manu',19]]

df = pd.DataFrame(data,columns = ['Name','marks'])

df

     Name  marks
0  naresh     10
1   vijay     23
2   rahul     22
3    manu     19

In [ ]:
Enhancement of the code

In [19]:
data = [['naresh',10],['vijay',23],['rahul',22],['manu',19]]

df = pd.DataFrame(data,columns = ['Name','Marks'], dtype = float)

df

     Name  Marks
0  naresh   10.0
1   vijay   23.0
2   rahul   22.0
3    manu   19.0

In [28]:
data = [['naresh',10],['vijay',23],['rahul',22],['manu',19]]

df = pd.DataFrame(data, index= ['rank1','rank2','rank3','rank4'],columns = ['Name','Marks'], dtype = float)

df

         Name  Marks
rank1  naresh   10.0
rank2   vijay   23.0
rank3   rahul   22.0
rank4    manu   19.0

In [ ]:
creating a Dataframe from dictionary of ndarray/list

In [30]:
data = {'Name':['bharagav','raju','ram','mahadev'], 'Marks':[22,34,27,28]}

df = pd.DataFrame(data)

df

       Name  Marks
0  bharagav     22
1      raju     34
2       ram     27
3   mahadev     28

In [ ]:
# dict: The keys will be converted as a column name